/**
* ----------------------
* Organic Agency
* Modules - Page header
* ----------------------
*/

/**
* Config
*/
@mixin positioned {
  position: relative;
  z-index: 2;
  grid-column: 1;
  grid-row: 1;
}

/**
* Styling
*/
.md-banner {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 288px;
  color: $c-white;

  @include media('<xs') {
    grid-template-rows: 1fr;
  }

  .a-overlay {
    background-color: $c-primary;

    &::before {
      @include positioned;
    }
  }

  &--invert {
    color: $c-grey;

    h1,
    h2,
    h3 {
      color: $c-primary;
    }
  }

  &--home {
    grid-template-rows: 672px;

    @include media('<xs') {
      grid-template-rows: minmax(60vh, 1fr);
    }
  }

  picture {
    grid-column: 1;
    grid-row: 1;
    position: relative;
  }

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  &__inner {
    @include positioned;
    display: flex;
    align-items: center;
    padding: $bump 0;

    @include media('<sm') {
      padding: $bump;
    }
  }
}
