/**
* ----------------------
* Organic Agency
* Modules - Platform features carousel
* ----------------------
*/

.md-carousel {
  position: relative;

  &::before {
    @include bg-img(cover);
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-position: center top;
    background-image: url('../img/carousel-bg.png');
  }

  .swiper-slide {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: $bump * 1.5;
    align-items: center;
    margin-right: 1px;

    @include media('<sm') {
      grid-template-columns: 1fr;
      gap: $bump;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  .swiper-pagination {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: $bump * 1.5;

    @include media('<sm') {
      margin-top: $bump;
    }

    &-bullet {
      width: $bump * 2;
      border-radius: 0;
      height: 30px;
      margin: 0 $bump/6;
      transition: 0.15s $easing;
      display: inline-flex;
      align-items: center;
      background-color: transparent;

      &::before {
        content: '';
        width: 100%;
        height: 4px;
        background: black;
      }

      &:hover {
        opacity: 1;

        &::before {
          background-color: $c-grey;
        }
      }

      &-active {
        &::before {
          background-color: $c-red;
          background-color: var(--brand-colour);
        }
      }
    }
  }

  .swiper-button {
    @include bg-img(15px);
    border: 0;
    height: $bump * 3;
    width: $bump * 1.5;
    background-color: $c-white;
    background-position: 33% center;
    background-image: url('../icon/arrow-left.svg');
    top: calc(50% - #{$bump});
    transition: 0.15s $easing;

    &::after {
      display: none;
      visibility: hidden;
    }

    &:hover {
      background-color: $c-red;
      background-color: var(--brand-colour);
      background-image: url('../icon/arrow-left-white.svg');
    }

    &-disabled {
      display: none;
      visibility: hidden;
    }

    &-prev {
      left: 0;
      border-radius: 0 $bump * 6 $bump * 6 0;
    }

    &-next {
      right: 0;
      border-radius: $bump * 6 0 0 $bump * 6;
      background-image: url('../icon/arrow-right.svg');
      background-position: 66% center;

      &:hover {
        background-image: url('../icon/arrow-right-white.svg');
      }
    }
  }
}
