/**
* ----------------------
* Organic Agency
* Modules - Copy
* ----------------------
*/

.md-copy {
  padding: $bump 0;

  &__body {
    columns: 3;
    column-gap: $bump * 1.5;

    @include media('<md') {
      columns: 2;
    }

    @include media('<sm') {
      columns: 1;
    }
  }

  &__long {
    columns: 2;
    column-gap: $bump * 1.5;

    @include media('<sm') {
      columns: 1;
    }
  }

  img {
    width: 100%;
    height: auto;
  }
}
