/**
* ----------------------
* Organic Agency
* Modules - CTAs
* ----------------------
*/

.md-ctas {
  img {
    width: 100%;
    height: auto;
    display: block;
  }

  p {
    margin-bottom: $bump;
  }

  .cta {
    display: grid;

    &__thumb {
      &:hover {
        opacity: 0.8;
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }
  }

  &.a-gradient .cta__content {
    background-color: $c-white;
  }

  &--primary {
    color: $c-white;

    h2 {
      font-size: 32px;
      line-height: 36px;
    }

    picture {
      padding-bottom: 100%;

      img {
        position: absolute;
      }
    }

    .cta {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;

      picture,
      &__content {
        grid-row: 1;
        grid-column: 1;
        position: relative;
      }

      &__content {
        padding: $bump * 1.5 15%;
        position: relative;
        z-index: 2;

        @include media('<lg') {
          padding: $bump * 1.5;
        }

        @include media('<sm') {
          padding: $bump;
        }
      }

      img {
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &--secondary,
  &--tertiary {
    .cta {
      @include shadow;
      grid-template-columns: 1fr 1fr;

      &__content {
        padding: $bump $bump * 1.5;
        background-color: $c-white-dark;

        @include media('<lg') {
          padding: $bump;
        }

        @include media('<xs') {
          padding: $bump/1.5;
        }
      }
    }
  }

  &--secondary {
    .h2 {
      font-size: 24px;
      line-height: 32px;
    }

    @include media('<sm') {
      .cta {
        grid-template-columns: 1fr;
      }
    }
  }

  &--tertiary {
    .h2 {
      font-size: 21px;
      line-height: 27px;
    }

    .a-module {
      @include media('<sm') {
        padding: $bump * 1.5 $bump;
      }
      @include media('<xs') {
        padding: $bump $bump/2;
      }
    }

    .grid {
      width: 100%;
    }

    .cta {
      @include media('<sm') {
        grid-template-columns: 125px 1fr;
      }

      @include media('<xs') {
        grid-template-columns: 100px 1fr;
      }

      &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        padding: $bump * 1.5;

        @include media('<lg') {
          padding: $bump;
        }

        @include media('<sm') {
          padding: $bump/2;
        }
      }
    }
  }
}
