/**
 * ----------------------
 * Organic Agency
 * Molecules - Product tiles
 * ----------------------
 */

.md-product-tiles {
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: $bump * 1.5;
    margin-bottom: -$bump;

    @include media('<lg') {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-align-last: center;
    flex-basis: 17%;
    margin-bottom: $bump;

    @include media('<lg') {
      flex-basis: 22%;
      margin: 0 $bump/2 $bump;
    }

    @include media('<sm') {
      flex-basis: 40%;
    }

    @include media('<xs') {
      flex-basis: 100%;
      margin: 0 0 $bump;
    }

    img {
      width: 55%;
      height: auto;
      margin-bottom: $bump/1.5;

      @include media('<lg') {
        width: 65%;
      }
    }
  }
}
