/**
 * ----------------------
 * Organic Agency
 * Molecules - Stacked tiles
 * ----------------------
 */

.md-stacked-tiles {
  &__tiles {
    display: grid;
    grid-template-columns: 1fr;
    gap: $bump * 1.5;
  }
}
