/**
* ----------------------
* Organic Agency
* Modules - Where to invest CTA
* ----------------------
*/

.md-where-invest {
  .a-module__copy {
    padding-bottom: $bump;
    border-bottom: 1px solid $c-grey;
  }

  &__logos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: -$bump;

    img {
      margin: $bump $bump * 1.5;
      max-width: 16%;
      height: auto;

      @include media('<lg') {
        margin: $bump/2 $bump;
      }

      @include media('<sm') {
        margin: $bump/4;
        max-width: 20%;
      }

      @include media('<xs') {
        max-width: 25%;
      }
    }
  }
}
