/**
 * ----------------------
 * Organic Agency
 * Molecules - Main nav
 * ----------------------
 */

/**
 * Config
 **/
:root {
  --windowHeight: 80vh;
}

@keyframes slideInLeft {
  0% {
    display: none;
    transform: translateX(-100%);
  }
  1% {
    display: block;
    transform: translateX(-100%);
  }
  100% {
    display: block;
    transform: translateX(0);
  }
}

@keyframes slideOutLeft {
  0% {
    display: block;
    transform: translateX(0);
  }
  99% {
    display: none;
    transform: translateX(-100%);
  }
  100% {
    display: none;
    transform: translateX(-100%);
  }
}

@keyframes slideInRight {
  0% {
    display: none;
    transform: translateX(100%);
  }
  1% {
    display: block;
    transform: translateX(100%);
  }
  100% {
    display: block;
    transform: translateX(0);
  }
}

@keyframes slideOutRight {
  0% {
    display: block;
    transform: translateX(0);
  }
  99% {
    display: none;
    transform: translateX(100%);
  }
  100% {
    display: none;
    transform: translateX(100%);
  }
}

/**
 * Styles
 **/
// TODO - TIDY THIS MESS UP
.m-nav {
  ul {
    @include li-reset;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

    & > li:last-child {
      margin-right: 0;
    }

    ul {
      display: none;
    }
  }

  a {
    @include font-cta;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-right: $bump;
    text-decoration: none;
  }

  &--main {
    & > ul {
      & > li {
        margin-right: $bump;
      }

      li.menu-item-has-children {
        & > a {
          position: relative;

          &::before {
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 10px 10px 10px;
            border-color: transparent transparent $c-grey transparent;
            position: absolute;
            bottom: 0;
            left: calc(50% - 10px);
            opacity: 0;

            @include media('<sm') {
              display: none;
              visibility: hidden;
            }
          }
        }

        &:focus-within,
        &:hover {
          a::before {
            opacity: 1;
          }

          & > a {
            color: $c-red;
          }

          ul {
            display: flex;
          }
        }

        ul {
          background-color: $c-grey;
          padding: $bump/1.5 0;
          width: 100%;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          position: absolute;
          top: 100%;
          left: 0;

          .current_page_parent > a,
          .current_page_item > a,
          a:hover {
            text-decoration: underline;
          }

          a {
            color: $c-white;
            padding-bottom: 0;
            margin: 0 $bump/2;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }

    a {
      padding-bottom: $bump/1.5;
      display: block;
      color: $c-primary;
      margin-right: 0;
    }

    .current_page_parent > a,
    .current_page_item > a,
    a:hover {
      color: $c-red;
      text-decoration: none;
    }

    @include media('<sm') {
      position: absolute;
      top: 100%;
      left: 0;
      height: 100%;
      height: var(--windowHeight);
      width: calc(100% - #{$bump});
      background-color: $c-white-dark;
      display: none;
      // overflow: hidden;
      transform: translateX(-100%);
      animation-fill-mode: forwards;
      animation-duration: 0.15s;
      animation-timing-function: ease-in-out;
      overflow-y: scroll;
      padding-bottom: $bump;

      ul,
      & > ul li.menu-item-has-children ul {
        flex-direction: column;
        align-items: stretch;
        border-top: 1px solid $c-grey-light;
        background-color: $c-white-dark;
        padding: 0;
        margin: 0;

        li {
          margin-right: 0;

          &.current_page_item > a {
            color: $c-red;
            text-decoration: none;
          }
        }

        a {
          padding: $bump/2 $bump;
          border-bottom: 1px solid $c-grey-light;
          margin: 0;
        }
      }

      & > ul {
        li.menu-item-has-children {
          & > a {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 0 0 $bump;

            span {
              @include bg-img(10px);
              background-image: url('../icon/arrow-right.svg');
              display: block;
              width: $bump * 2;
              height: 49px;
              border-left: 1px solid $c-grey-light;
            }
          }

          &[data-hover='true'] {
            ul {
              display: block;
              animation-name: slideInRight;
            }
          }
          &[data-hover='false'] {
            ul {
              display: block;
              animation-name: slideOutRight;
            }
          }

          ul {
            top: 0;
            left: auto;
            right: 0;
            height: 100%;
            transform: translateX(100%);
            animation-fill-mode: forwards;
            animation-duration: 0.15s;
            animation-timing-function: ease-in-out;

            a {
              color: $c-primary;
            }
          }
        }
      }
    }

    [data-nav='open'] & {
      display: block;
      animation-name: slideInLeft;
    }

    [data-nav='closed'] & {
      display: block;
      animation-name: slideOutLeft;
    }
  }

  &--footer {
    a {
      color: $c-white;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@include media('<sm') {
  [data-nav='open'] {
    overflow: hidden;
  }
}
