/**
 * ----------------------
 * Organic Agency
 * Molecules - Pagination
 * ----------------------
 */

.m-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $bump * 2.5 0 0;
  gap: $bump/2;

  @include media('<sm') {
    padding-top: $bump;
  }

  &__link {
    @include font-bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: $bump * 1.5;
    width: $bump * 1.5;
    border-radius: 5px;
    background-color: $c-white;
    text-decoration: none;
    color: $c-primary;

    &:hover {
      background-color: $c-red;
      color: $c-white;
    }

    &-current {
      pointer-events: none;
      background-color: $c-grey;
      color: $c-white;
    }

    &-nextprev {
      background-color: transparent;

      svg {
        height: 20px;
        width: auto;
      }

      path {
        stroke: $c-grey;
        transition: 0.15s $easing;
      }

      &:hover {
        background-color: $c-red;

        path {
          stroke: $c-white;
        }
      }
    }
  }
}
