/**
 * ----------------------
 * Organic Agency
 * Molecules - Person card
 * ----------------------
 */

/*
* Config
*/

:root {
  --image-size: 175px;
  --padding: #{$bump * 1.5};
}

@include media('<lg') {
  :root {
    --padding: #{$bump};
  }
}

/**
* Styles
*/

.m-person {
  @include shadow;
  background-color: $c-white;
  padding: 0 $bump $bump;
  padding: 0 var(--padding) var(--padding);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 117.5px;

  figure {
    border-radius: 50%;
    border: 3px solid $c-white;
    display: block;
    height: var(--image-size);
    width: var(--image-size);
    margin-top: calc(-1 * (var(--image-size) / 2));
    overflow: hidden;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  &__details {
    text-align: center;
    text-align-last: center;
    margin: $bump/2 0;

    h3 {
      margin: $bump/4;
    }

    p {
      margin-bottom: $bump/4;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  .m-social-links {
    margin-top: auto;
    padding-top: $bump;
  }
}
