/**
 * ----------------------
 * Organic Agency
 * Molecules - Social links
 * ----------------------
 */

.m-social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $bump/2;

  a {
    @include bg-img('20px');
    @include rm-text;
    display: block;
    height: 45px;
    width: 45px;
    background-color: $c-grey-light;
    border-radius: 5px;

    &:hover {
      background-color: $c-red;

      &[href*='twitter'] {
        background-image: url('../icon/icon-twitter-wh.svg');
      }

      &[href*='linkedin'] {
        background-image: url('../icon/icon-linkedin-wh.svg');
      }
    }

    &[href*='twitter'] {
      background-image: url('../icon/icon-twitter.svg');
    }

    &[href*='linkedin'] {
      background-image: url('../icon/icon-linkedin.svg');
    }
  }

  &--alt {
    @include media('<sm') {
      width: 100%;
    }

    a {
      background-color: $c-grey;

      &[href*='twitter'] {
        background-image: url('../icon/icon-twitter-wh.svg');
      }

      &[href*='linkedin'] {
        background-image: url('../icon/icon-linkedin-wh.svg');
      }
    }
  }

  &--share {
    justify-content: flex-start;
    align-items: flex-end;
    height: 100%;
  }
}
