/**
 * ----------------------
 * Organic Agency
 * Molecules - Tags list
 * ----------------------
 */

.m-tags {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: $bump/2;
  margin: $bump auto;

  h3 {
    width: 100%;
    margin-bottom: $bump/3;
  }
}
