/**
 * ----------------------
 * Organic Agency
 * Molecules - Tile
 * ----------------------
 */

.m-tile {
  @include shadow;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-rows: 1fr;

  @include media('<sm') {
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
  }

  &:nth-child(even) {
    .m-tile__copy {
      order: 1;
    }
  }

  &__copy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: $bump * 1.5 $bump * 3;

    @include media('<lg') {
      padding: $bump * 1.5;
    }

    @include media('<sm') {
      padding: $bump;
      order: 1;
    }

    @include media('<xs') {
      padding: $bump/2;
    }

    .a-gradient & {
      background-color: $c-white;
    }
  }

  &__image {
    width: 100%;
    padding-bottom: 100%;
    position: relative;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .h4 {
    @include font-cta;
    margin-bottom: $bump/2;
  }

  .a-btn {
    margin-top: $bump;
  }
}
