{#
/**
 * Block Name: Body copy
 */
#}

<section class="a-bleed md-copy md-copy--body">
  <div class="a-module--bleed grid justify-center">
    <div class="col-sm-11">
      <div class="md-copy__body">
        {{ fields.copy }}
      </div>
    </div>
  </div>
</section>