{#
/**
 * Block Name: Long copy
 */
#}

<section class="a-bleed md-copy">
  <div class="a-module--bleed grid justify-center">
    <div class="col-sm-11">
      <div class="md-copy__long">
        {{ fields.copy }}
      </div>
    </div>
  </div>
</section>