{#
/**
 * Block Name: Where to invest CTA
 */
#}

<section class="a-bleed a-module md-where-invest">

  {% include '/blocks/partial/intro.twig' with {
    content: {
      title: fields.title,
      copy: fields.copy,
      image: fields.p1_logo
    }
  } %}

  <div class="grid justify-center">
    <div class="col-sm-12 col-bleed md-where-invest__logos">
      
      {% if fields.logos %}
        {% for logos in fields.logos %}
          <img data-src="{{ Image(logos.logo).src('logo') }}" class="lazy" alt="{{ logos.logo.alt }}">
        {% endfor %}
      {% endif %}

    </div>
  </div>
</section>