{#
/**
 * Block Name: Platform features carousel
 */
#}

<section class="a-bleed a-module a-gradient md-carousel brand--{{ fields.branding|lower }}">
  {% include '/blocks/partial/intro.twig' with {
    content: {
      copy: fields.copy
    }
  } %}

  <div class="grid justify-center">
    <div class="col-sm-11">
      
      <div class="swiper-container">
        <div class="swiper-wrapper">
          {% for slide in fields.slides %}
            <div class="swiper-slide">
              <img data-src="{{ Image(slide.image).src }}" class="swiper-lazy" alt="{{ slide.image.alt }}" />
              <div class="swiper-lazy-preloader"></div>

              <div class="swiper-slide__copy">
                {{ slide.copy }}
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
      
      <div class="swiper-pagination"></div>

    </div>
  </div>

  <button class="swiper-button swiper-button-prev" aria-label="Previous slide"></button>
  <button class="swiper-button swiper-button-next" aria-label="Next slide"></button>
</section>