{#
/**
 * Block Name: Platform tiles
 */
#}

<section class="a-bleed a-module a-gradient md-platform-tiles">

  {% include '/blocks/partial/intro.twig' with {
    content: {
      copy: fields.copy
    }
  } %}

  <div class="grid justify-center">
    <div class="col-sm-11">
      <div class="md-platform-tiles__tiles">
        {% for tile in fields.tile %}
          <div class="md-platform-tiles__tile">
            <img data-src="{{ Image(tile.image).src('square_xsmall') }}" class="lazy" alt="{{ tile.image.alt }}" />

            {{ tile.copy }}          
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

</section>