{#
/**
 * Block Name: Products list
 */
#}

<section class="a-bleed a-module md-product-tiles">
  {% include '/blocks/partial/intro.twig' with {
    content: {
      copy: fields.copy
    }
  } %}

  <div class="grid justify-center">
    <div class="col-sm-11">
      
      <div class="md-product-tiles__list">
        {% for products in fields.products %}
          <div class="md-product-tiles__product">
            <img data-src="{{ Image(products.icon).src('square_small') }}" class="lazy" alt="{{ products.icon.alt }}" />

            <h3>{{ products.title }}</h3>
          </div>
        {% endfor %}
      </div>
      
    </div>
  </div>
</section>