/**
 * ----------------------
 * Organic Agency
 * Base - Defaults
 * ----------------------
 */

.grid {
  max-width: $container-width;
  width: 100%;

  @include media('<sm') {
    & > [class*='col-'] {
      padding: 0;
    }
  }
}

.container-full > .grid {
  max-width: none;
}

ul.menu,
ul.plain {
  @include li-reset;
}

img {
  -webkit-backface-visibility: hidden;
  // image-rendering: pixelated;
  transition: 0.2s $easing;

  &.lazy {
    opacity: 0;

    @media not all and (min-resolution: 0.001dpcm) {
      @supports (-webkit-appearance: none) {
        opacity: 1;
      }
    }
  }

  &.loaded {
    opacity: 1;
  }
}

.svg {
  transition: all 0.2s $easing;
}

.hidden {
  display: none !important;
  visibility: hidden !important;
}
