/**
 * ----------------------
 * Organic Agency
 * Base - Main
 * ----------------------
 */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  @include font-smoothing(true);
  font-family: $font-body;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: normal;
  display: flex;
  flex-direction: column;
}
