/**
 * ----------------------
 * Organic Agency
 * Config - Vars
 * ----------------------
 */

$c-primary: #181818;
$c-secondary: #ffb7a3;
$c-white: #ffffff;

$c-red: #a41c1c;
$c-blue: #39577d;
$c-grey-dark: #4b4c4d;
$c-grey: #707273;
$c-grey-light: #cdd2d4;
$c-white-dark: #f0f0f0;
$c-white-light: #f8f8f8;

$c-overlay: rgba(40, 40, 40, 0.7);

// general purpose variable, should really be renamed but I don't know wtf to call it
$bump: 30px;

$easing: linear;
