/**
 * ----------------------
 * Organic Agency
 * Templates - Article
 * ----------------------
 */

.t-article {
  &__banner {
    @include bg-img(cover);
    background-image: url('../img/news-placeholder.png');
    background-position: right bottom;
    padding-top: $bump * 3;
    overflow: hidden;
    position: relative;

    @include media('<sm') {
      padding-top: $bump * 2;
    }

    &:after {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 150px;
      width: 100%;
      content: '';
      background-color: $c-white;
      z-index: 0;

      @include media('<sm') {
        display: none;
      }
    }
  }

  &__header {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 1fr 100px 150px;
    gap: $bump;
    position: relative;
    z-index: 1;

    @include media('<md') {
      grid-template-columns: 50% 50%;
    }

    @include media('<sm') {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
    }

    &-image {
      grid-row: 1 / 4;
      padding-right: $bump/2;
      position: relative;

      @include media('<md') {
        padding-right: 0;
      }

      @include media('<sm') {
        padding: 0 $bump;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        display: block;

        @include media('<sm') {
          height: auto;
          object-fit: inherit;
          position: relative;
        }
      }
    }

    &-intro {
      padding: $bump/2 0;

      @include media('<sm') {
        padding: 0 $bump;
      }
    }

    @include media('<sm') {
      &-share {
        padding: 0 $bump;
      }
    }

    &-details {
      padding: $bump 0;
      color: $c-grey-dark;

      @include media('<sm') {
        background-color: $c-white;
        padding: $bump $bump 0;

        .m-tags {
          margin-bottom: 0;
        }
      }

      small {
        &:before {
          content: '\2022';
          margin-right: $bump/6;
        }
      }
    }
  }

  &__content {
    padding: $bump * 1.5 0;

    @include media('<sm') {
      padding: $bump;
    }

    img {
      max-width: 100%;
      height: auto;
    }
  }

  &__details {
    border-top: 1px solid $c-primary;
    padding-top: $bump;
    margin-bottom: $bump * 1.5;
    display: grid;
    grid-template-columns: 4fr 2fr;
    gap: $bump;

    @include media('<md') {
      grid-template-columns: 1fr;
    }

    @include media('<sm') {
      margin: 0 $bump $bump * 1.5;
    }
  }

  &__author {
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: $bump/2;

    @include media('<xs') {
      grid-template-columns: 1fr;
    }

    img {
      overflow: hidden;
      border-radius: 50%;
    }
  }

  &__featured {
    padding-left: $bump;
    border-left: 1px solid $c-primary;

    @include media('<md') {
      border-left: 0;
      border-top: 1px solid $c-primary;
      padding: $bump 0 0;
    }
    img {
      max-width: 100%;
      height: auto;
    }
  }
}
