/**
 * ----------------------
 * Organic Agency
 * Atoms - Mobile subnav title/back button
 * ----------------------
 */

.a-mobile-helper {
  display: none;
  visibility: hidden;

  @include media('<sm') {
    display: block;
    visibility: visible;
  }

  span {
    @include font-cta;
    @include bg-img(10px);
    background-image: url('../icon/arrow-left.svg');
    background-position: $bump center;
    padding-left: $bump * 2;
    padding: $bump/2 $bump/2 $bump/2 $bump * 2;
    display: block;
    border-bottom: 1px solid $c-grey-light;
  }
}
